<h1>All Users</h1>
<% @user.each do |user| %>
  <strong><p>Name: <%= user.name %></p></strong>
  <p>Cohort: <%= user.cohort %></p>
  <p>Current Employer: <%= user.current_employer %></p>
  <% if user.city %>
    <p>Location: <%= user.city_and_state(user) %></p>
  <% end %>
<% end %>
