<div class="landing-page">
  The Turing Community is going places.
  <p>See where.</p>

</div>

<div class="popup" onclick="myFunction()">Click me!
  <span class="popuptext" id="myPopup">Popup text...</span>
</div>
