<div class='updates-page'>
  <p class="updates-header">Updates around the Turing Community</p>
  <div class="updates">
      <% @updates.each do |update| %>
        <% unless update.action.nil? %>
          <p class="animated slideInUp each-update"><%= link_to update.user.name, user_path(update.user) %> in  <%= update.cohort %> <%= update.action.delete("[,],\"") %></p>
        <% end %>
      <% end %>
  </div>
</div>
<div class="updates-paginate">
  <%= will_paginate @updates %>
</div>
