<div class="updates">
  <h1>Updates around the Turing Community</h1>
    <% @updates.each do |update| %>
      <% unless update.action.nil? %>
        <p class="animated slideInUp each-update"><%= link_to update.user.name, user_path(update.user) %> in  <%= update.cohort %> <%= update.action.delete("[,],\"") %></p>
      <% end %>
    <% end %>
</div>
