/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0
}

.navbar-brand {
  font-family: Noto Sans, arial;
 }

.user-shadow {
  padding-top: 13px;
  font-size: 1.4em;
}
.remove {
  padding-top: 13px;
  font-size: 1.4em;
}

.map-marker {
  padding-top: 13px;
  font-size: 1.4em;
}
.eraser {
  padding-top: 13px;
  font-size: 1.4em;
}

.login-icon {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1.6em;
}

 .logout-link {
  float: left;
  overflow: auto;
  color: black;
  font-size: 90%;
 }

 .login-with-github {
   padding-left: 800px;
 }

 a:visited {color:#333333;}

 .map-link {
  float: left;
  overflow: auto;
  color: black;
  font-size: 110%;
 }

 .login-link {
  color: #474747;
 }

.landing-page {
  padding-top: 200px;
  text-align: center;
  color: #474747;
  font-size: 150%;
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-shadow: 1px #899bae;
  background: url("https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8bdec4a5365fabf1948d8f1e9039b47a") no-repeat center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.fa {
  font-family: 'Josefin Sans', Arial, sans-serif;
  color: #474747;
  font-size: 110%;
}

.nav>li>a {
  display: none;
}

.user-dashboard {
  color: #333333;
  background-color: #1eccbe;
  height: 800px;
}

.user-info {
  padding-bottom: 70px;
}

.navbar-brand {
  font-size: 130%;
  font-weight: bold;
  padding-top: 30px;
}

.greeting {
  padding-top: 15px;
  padding-left: 520px;
}

.user-image {
  background-color: #1eccbe;
}
.welcome {
  font-size: 200%;
}

.user-info-table {
  padding: 50px;
  padding-right: 200px;
}
.page-header {
  font-size: 29px;
  margin: .5em 0;
  color: #333333;
  font-weight: 300;
  text-align: center;
}

.edit-user-form {
  text-align: center;
  color: #333333;
  font-size: 130%;
  text-shadow: 1px #899bae;
  background-color: #1eccbe;
  background-size: cover;
  padding: 50px;
  height: 1000px;
}

.user-label {
  font-weight: 300;
}

.cohort-drop-down {
  padding-right: 700px;
}

.state-dropdown {
  padding-right: 700px;
}

.edit-user-submission {
  padding-right: 300px;

}
.edit-links-bottom {
  text-align: center;
  text-size: 200%;
}

#map {
  height: 100%;
}
