.user-dashboard {
  color: #333333;
  background: url("https://s3-us-west-2.amazonaws.com/turingconnect/cheap_diagonal_fabric.png?X-Amz-Date=20160616T022306Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a2413b61ae3ab49da1e7b0e1506119006e097c9e26c3d6fe63557ad260734a08&X-Amz-Credential=ASIAJKLCWKLMPPFFQCKA/20160616/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEJv//////////wEaDMxJvA831qb5cVVzbSLHAdmDRHDDwn/k385oIExsshpq2YzfuKoV20%2BstOEeyBwkYYBE4tvrQHPfCzgQQMVwVNrZ0r1eFwl7IikE/JXYOESC99528wxypln/8M2%2BvLDSQ38am0qGegCZumZvPfmL8HS7y3M9Or76oFZydVY/9OD04UCfbvSsFfkjKsVRZVdv2fBpbo5VE5v9QryVCHYuTGDGgZfWcazKwVKM7%2BplGePdb/oqIO2B9Oj%2BTZlyTgki3XzFdVYKiRZphdVVT2yipPDNN/lVuFYo2IyIuwU%3D");
  height: 800px;
  margin-top: 0px;
}

.user-info-table {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: Josefin Sans;
  font-size: 120%;
}

.user-label {
  font-weight: 700;
}

.user-image {
  background-color: #1eccbe;
}

.user-info {
  padding-bottom: 70px;
}

.dashboard-instructions {
  text-align: center;
  padding-top: 10px;
  font-size: 120%;
  font-family: monospace;
  background-color: white;
}

.header-text {
  padding-top: 20px;
  font-weight: bold;
  font-family: monospace;

}
.page-header {
  font-size: 29px;
  color: #333333;
  font-weight: 300;
  height: 80px;
  text-align: center;
  background-size: cover;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.user-dashboard-info {
  padding-top: 25px;
  position: relative;
  float: right;
}

.personal-image {
  padding-top: 25px;
  position: relative;
  float: left;
}
