.user-dashboard {
  color: #333333;
  background-color: #1eccbe;
  height: 800px;
  margin-top: 0px;
}

.user-info-table {
  padding: 50px;
  padding-right: 200px;
}

.user-label {
  font-weight: 300;
}

.user-image {
  background-color: #1eccbe;
}

.user-info {
  padding-bottom: 70px;
}

.page-header {
  font-size: 29px;
  color: #333333;
  font-weight: 300;
  text-align: center;
  background-size: cover;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
