.user-dashboard {
  color: #333333;
  background-color: #1eccbe;
  height: 800px;
}

.user-info-table {
  padding: 50px;
  padding-right: 200px;
}

.user-label {
  font-weight: 300;
}

.user-image {
  background-color: #1eccbe;
}
