.landing-page {
  padding-top: 200px;
  text-align: center;
  color: #474747;
  font-size: 350%;
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-shadow: 1px #899bae;
  background: url("https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8bdec4a5365fabf1948d8f1e9039b47a") no-repeat center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
