.navbar.navbar-default {
  padding-top: 10px;
  margin-bottom: 0px !important;
  background-color: #a7aab0;
}

.alumni-logo {
  padding-top: 13px;
}

.user-shadow {
  padding-top: 13px;
  font-size: 1.2em;
}
.remove {
  padding-top: 17px;
  font-size: 1.2em;
}

.newsfeed-list {
  padding-top: 15px;
}

.map-marker {
  padding-top: 13px;
  font-size: 1.4em;
}

.map-link {
  padding-left: 10px;
}

.cog {
  padding-top: 13px;
  font-size: 1.2em;
}

.login-icon {
  padding-left: 0px;
  padding-top: 10px;
  font-size: 1.6em;
}

.login-link {
  color: #474747;
}

.nav > .greeting {
  position: absolute;
  top: 0px;
  right: 30px;
  margin-top: 17px;
}

.edit-links-bottom {
  text-align: center;
  text-size: 200%;
}

.hidden {
  display: none;
}
