 .navbar.navbar-default {
   padding-top: 10px;
   margin-bottom: 0px !important;
 }

.user-shadow {
  padding-top: 13px;
  font-size: 1.2em;
}
.remove {
  padding-top: 16px;
  font-size: 1.2em;
}

.newsfeed-list {
  padding-top: 16px;
}

.map-marker {
  padding-top: 13px;
  font-size: 1.2em;
}

.cog {
  padding-top: 13px;
  font-size: 1.2em;
}

.login-icon {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1.6em;
}

.login-with-github {
 }

  .login-link {
   color: #474747;
  }

  .nav > .greeting {
    position: absolute;
    top: 0px;
    right: 30px;
    margin-top: 17px;
  }

  .edit-links-bottom {
    text-align: center;
    text-size: 200%;
  }

  .hidden {
    display: none;
  }
