.newsfeed-title {
  text-align: center;
  size: 400%;
}

.newsfeed {
  color: #333333;
  font-family: 'Raleway', Arial, sans-serif;
  padding-left: 30px;
  background-color: black;
}

.updates-header{
  color: white;
  font-size: 200%;
  text-align: center;
  padding: 15px;
  font-family: Raleway;
}
.updates{
  padding-left: 30px;
  font-family: 'Raleway', Arial, sans-serif;
  background-color: #42345d;
}

.each-update {
  width: 90%;
  height: 50px;
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 13px;
  margin: 1px 1px 1px 1px;
  margin-bottom: 23px;
  box-shadow: 1px 1px 9px #dfe121;
  background-color: white;
}
