.newsfeed-title {
  text-align: center;
  size: 400%;
}

.newsfeed {
  color: #333333;
  font-family: 'Raleway', Arial, sans-serif;
  padding-left: 30px;
  background-color: black;
}

.updates-header{
  color: white;
  font-size: 200%;
  text-align: center;
  padding: 15px;
  font-family: monospace;
  background-color: #42345d;
}
.updates{
  padding-top: 20px;
  padding-left: 290px;
  font-family: 'Raleway', Arial, sans-serif;
}

.updates-page {
  background: url(dark_embroidery.png);
  min-height: 100vh;
}
.each-update {
  width: 70%;
  height: 50px;
  padding-top: 12px;
  font-weight: bolder;
  padding-left: 15px;
  margin: 1px 1px 1px 1px;
  margin-bottom: 23px;
  box-shadow: 2px 2px 2px #ae61c9;
  background-color: white;
}

.updates-paginate {
  height: 30px;
  padding-left: 20px;
  padding-bottom: 15px;
}
