.index-title {
  font-size: 1.3em;
  background: url("https://s3-us-west-2.amazonaws.com/turingconnect/concrete_seamless.png?X-Amz-Date=20160616T024548Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=70faa4d12d386b177444f417abbdab269d1bff89d0d09a6873283067b5e01b9b&X-Amz-Credential=ASIAJKLCWKLMPPFFQCKA/20160616/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEJv//////////wEaDMxJvA831qb5cVVzbSLHAdmDRHDDwn/k385oIExsshpq2YzfuKoV20%2BstOEeyBwkYYBE4tvrQHPfCzgQQMVwVNrZ0r1eFwl7IikE/JXYOESC99528wxypln/8M2%2BvLDSQ38am0qGegCZumZvPfmL8HS7y3M9Or76oFZydVY/9OD04UCfbvSsFfkjKsVRZVdv2fBpbo5VE5v9QryVCHYuTGDGgZfWcazKwVKM7%2BplGePdb/oqIO2B9Oj%2BTZlyTgki3XzFdVYKiRZphdVVT2yipPDNN/lVuFYo2IyIuwU%3D");
  padding-bottom: 30px;
  padding-left: 17px;
  padding-top: 12px;
}

.search-bar {
  background-color: #79c9c3;
  position: relative;
  float: right;
  padding: 10px;
  padding-bottom: 10px;
}

.users-index-page {
  padding-left: 60px;
  background: url("https://s3-us-west-2.amazonaws.com/turingconnect/concrete_seamless.png?X-Amz-Date=20160616T022613Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d13f824a491dd2233da01292993c7d239639762c661d52aef6e45d42f2b8bd86&X-Amz-Credential=ASIAJKLCWKLMPPFFQCKA/20160616/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEJv//////////wEaDMxJvA831qb5cVVzbSLHAdmDRHDDwn/k385oIExsshpq2YzfuKoV20%2BstOEeyBwkYYBE4tvrQHPfCzgQQMVwVNrZ0r1eFwl7IikE/JXYOESC99528wxypln/8M2%2BvLDSQ38am0qGegCZumZvPfmL8HS7y3M9Or76oFZydVY/9OD04UCfbvSsFfkjKsVRZVdv2fBpbo5VE5v9QryVCHYuTGDGgZfWcazKwVKM7%2BplGePdb/oqIO2B9Oj%2BTZlyTgki3XzFdVYKiRZphdVVT2yipPDNN/lVuFYo2IyIuwU%3D");
  font-family: 'Raleway', Arial, sans-serif;
  padding-bottom: 30px;
}

.pagination {
  margin: 0px;
  height: 10px;
  width: 320px;
  padding-bottom: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
