.index-title {
  font-size: 3em;
  text-align: center;
  background-color: #1eccbe;
  padding-bottom: 30px;
}

.users-index-page {
  padding-left: 60px;
  background-color: #1eccbe;
  font-family: 'Raleway', Arial, sans-serif;
}

.pagination {
  margin: 0px;
  height: 10px;
  width: 320px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}
