<div class="user-dashboard">
  <div class ="hidden user-flash">

  </div>
  <div class="page-header">
    <div class='header-text'>
      User Dashboard
    </div>
  </div>
  <div class="dashboard-instructions">
    <strong><p>Connect with the Community!</p></strong>
    To edit your information, click on the field you would like to edit.
    <p>To save your changes, click outside the highlighted box.</p>
  </div>
  <%= render "layouts/dashboard" %>
