<!DOCTYPE html>
<html>
<head>
  <title>TuringConnect</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</html>
